body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.settings {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  margin: 20px auto;
  padding: 0 0 5px 0;
  text-align: center;
  background: #ebebeb;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
}

div.settings input {
  background: rgb(255, 255, 255);
}

div.setting form div div div {
  background: white;
}

div.titleSettings {
  width: 100%;
  padding: 10 0;
  background: #3770a2;
  color: white;
}

div.parts {
  display: flex;
  margin-top: 10px;
}
div.settingsPart {
  margin: 0 20px;
  flex: 10;
}



.float-container {
  border: 3px solid rgb(246, 240, 240);
  padding: 20px;
}

.float-child {
  width: 30%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}


